/* https://www.youtube.com/watch?v=k-kyiUuRxkQ */
.borda-gradiente {
   width: 300px;
   height: 291px;
   /* inset: 8px; */
   border: double 18px #ffffff;
   border-radius: 40px;
   background-image: linear-gradient(white, #464141), radial-gradient(circle at top left, #db7878, #3020ff);
   background-origin: border-box;
   background-clip: content-box, border-box;
}

.borda2 {
   height: 250px;

   width: 250px;
   border: 5px solid hotpink;

   border-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
   border-image-slice: 1;


}