.body{

   font-family: Arial, Helvetica, sans-serif;
}

.hi{
   font-family: arial;
}
.gallery {
   transition: all 400ms ease;
   display: flex;
   height: 70vh;
   max-width: 60%;
   gap: 1rem;
   

}

.centro {
   display: flex;
   flex-direction: column;
   
   justify-content: center;
   align-items: center;
   /* width:  100%; */
   height: 100vh;
}




.size-normal {
   flex:2;
   display: flex;
   border-radius: 0.75rem;
   transition: all 400ms ease;
   width: 1fr;
   width:  100%;
   height: 100%;
   width: 250px;
}

.size-normal:hover {
   transition: all 400ms ease;
   flex:5;
   background-color: rgb(26, 15, 12) !important;
}

#cor1 {

   background-color: coral;
}

#cor2 {

   background-color: rgb(255, 193, 21);

}

#cor3 {

   background-color: rgb(194, 241, 24);

}

#cor4 {

   background-color: rgb(121, 255, 80);

}